{% extends 'form/user_password.html.twig' %}

{% set passwordSettings = oViewConf.getSecurityModulePasswordSettings() %}

{% block user_change_password_old %}
    {{ parent() }}

    {% if passwordSettings.isPasswordPolicyEnabled() %}
        {% include '@oe_security_module/form/password_toggle.html.twig' with { target: 'passwordOld' } %}
    {% endif %}
{% endblock %}

{% block user_change_password_new %}
    {{ parent() }}

    {% if passwordSettings.isPasswordPolicyEnabled() %}
        {% include '@oe_security_module/form/password_toggle.html.twig' with { target: 'passwordNew' } %}

        <div class="progress"
             role="progressbar"
             aria-label="Password strength"
             aria-valuenow="0"
             aria-valuemin="0"
             aria-valuemax="100"
             data-type="passwordStrength"
             data-url="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=password&fnc=passwordStrength") }) }}"
             data-target="passwordNew"
             data-target-confirmation="passwordNewConfirm"
        >
            <div class="progress-bar"></div>
        </div>

        {% include '@oe_security_module/form/password_requirements.html.twig' %}

        {{ style({ include: oViewConf.getModuleUrl('oe_security_module', 'out/src/css/password-validation.css') }) }}
        <script type="module" src="{{ oViewConf.getModuleUrl('oe_security_module', 'out/src/js/index.js') }}"></script>
    {% endif %}
{% endblock %}

{% block user_change_password_confirm %}
    {{ parent() }}

    {% if passwordSettings.isPasswordPolicyEnabled() %}
        {% include '@oe_security_module/form/password_toggle.html.twig' with { target: 'passwordNewConfirm' } %}
    {% endif %}
{% endblock %}

