{% set moduleSettings = oViewConf.getSecurityModuleSettings() %}

<div id="password-requirements" class="card border border-primary d-none my-2">
    <div class="card-title border-bottom border-primary p-3 fw-bold">{{ translate({ ident: 'PASSWORD_REQUIREMENTS' }) }}</div>
    <div class="card-body p-3">
        {% set passwordMinimumLength = oViewConf.getPasswordLength() %}

        {% if passwordMinimumLength %}
            <div>{{ translate({ ident: 'PASSWORD_MIN_LENGTH', args: passwordMinimumLength }) }}</div>
        {% endif %}

        {% if moduleSettings.getPasswordUppercase() %}
            <div>{{ translate({ ident: 'PASSWORD_CONTAIN_UPPER_CASE' }) }}</div>
        {% endif %}

        {% if moduleSettings.getPasswordLowercase() %}
            <div>{{ translate({ ident: 'PASSWORD_CONTAIN_LOWER_CASE' }) }}</div>
        {% endif %}

        {% if moduleSettings.getPasswordDigit() %}
            <div>{{ translate({ ident: 'PASSWORD_CONTAIN_DIGIT' }) }}</div>
        {% endif %}

        {% if moduleSettings.getPasswordSpecialChar() %}
            <div>{{ translate({ ident: 'PASSWORD_CONTAIN_SPECIAL_CHARACTER' }) }}</div>
        {% endif %}
    </div>
</div>
